In [6]:
df = pd.read_csv(r"C:\Users\sriharsha\Downloads\DS_JOB (1).csv")

In [7]:
df.head()

,Job_Role,Company,Location,Job Experience,Skills/Description
0,Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea..."
1,Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,..."
2,Applied Data Scientist / ML Senior Engineer (P...,SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man..."
3,Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a..."
4,Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn..."

In [8]:
df["job_exp"] = df["Job Experience"]

In [14]:
l=[]
for i in df["job_exp"]:
    l.append((int(i[0])+int(i[-1]))//2)

ValueError: invalid literal for int() with base 10: 'y'

In [26]:
l=[]
for i in df["job_exp"]:
    if i[0].isnumeric():
        l.append((int(i[0])))

In [28]:
l.append(0)

In [29]:
df["job_exp"] = l

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 6 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Job_Role            12000 non-null  object
 1   Company             12000 non-null  object
 2   Location            12000 non-null  object
 3   Job Experience      12000 non-null  object
 4   Skills/Description  12000 non-null  object
 5   job_exp             12000 non-null  int64
dtypes: int64(1), object(5)
memory usage: 562.6+ KB

In [32]:
df.head()

,Job_Role,Company,Location,Job Experience,Skills/Description,job_exp
0,Senior Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",3-6,"python, MLT, statistical modeling, machine lea...",3
1,Senior Data Scientist,Walmart,Bangalore/Bengaluru,5-9,"Data Science, Machine learning, Python, Azure,...",5
2,Applied Data Scientist / ML Senior Engineer (P...,SAP India Pvt.Ltd,Bangalore/Bengaluru,5-10,"Python, IT Skills, Testing, Cloud, Product Man...",5
3,Data Scientist,UPL,"Bangalore/Bengaluru, Mumbai (All Areas)",1-4,"python, machine learning, Data Science, data a...",1
4,Data Scientist,Walmart,Bangalore/Bengaluru,4-8,"IT Skills, Python, Data Science, Machine Learn...",4

In [34]:
df.shape

(12000, 6)

In [31]:
df.to_csv(r"C:\Users\sriharsha\Downloads\DS_jobs_new.csv")