3. Predict the output and justify your answer:
i) -11%9

ii) 7.7//7 

iii) (200-70)*10/5 

iv) not “False”

v) 5*1**2 

vi) 54//7


vii) 16%5 

ix) len(‘it\’s’)


xi) ‘Computer’+’Application’ 


xii) ‘H20’*3 xiii) max(2-3,min(4,7),-5)

In [82]:
t1,t2,t3 = list(map(int,input("Enter numbers: ").split()))
mini = min(t1,t2,t3)
avg = (sum([t1,t2,t3]) - mini)/2
print(avg)

Enter numbers: 1 2 3
2.5

In [15]:
# 4. Give the syntax of a user-defined function in Python and explain the working with an 
# example.

#Syntax
def fun(param):
    return param+2

92

In [25]:
x = "tomato"
x.count('o')
x.index('o')
"mAster".is('s')
#"          MondAY".strip()

2

In [34]:
fruits  = ['banana','Apple',"grapes","mango"]
fruits[-2]

'grapes'

In [ ]:
#  Write a python program to accept a sentence from the user and display the longest word of that 
# sentence along with its length.

In [40]:
#step1 : take input sentence from user
sent = input("Give the Sentence: ")
#Step2: 

x = sent.split(" ")
maxi = 0
op = " "
for word in x:
    if len(word)>maxi:
        maxi = len(word)
        op = word
print(op,maxi)

Give the Sentence: dsrtdxtdrtsejedxdjdx
dsrtdxtdrtsejedxdjdx 20

) Insert an element 9 at the beginning of the list.
b) Insert an element 8 at the end of the list.
c) Insert an element 10 at the index position 3 of the list.
d) Delete an element at the beginning of the list.
e) Delete an element at the end of the list.
f) Delete an element at the index position 3.
g) Print the list in reverse order.
h) Delete all the elements of the list.

In [52]:
ty=[5,4,7,3,6,2,1]

In [53]:
ty.insert(0,9)
ty

[9, 5, 4, 7, 3, 6, 2, 1]

In [55]:
ty.append(8)
ty

[9, 5, 4, 7, 3, 6, 2, 1, 8, 8]

In [56]:
ty[::-1]

[8, 8, 1, 2, 6, 3, 7, 4, 5, 9]

In [57]:
del ty

In [58]:
ty

NameError: name 'ty' is not defined

In [62]:
-26%30

4

In [63]:
import pandas as pd

data = {
    'column_1': [1, 2, 3],
    'column_2': [4, 5, 6],
    'column_3': [7, 8, 9]
}

df = pd.DataFrame(data)
df

   column_1  column_2  column_3
0         1         4         7
1         2         5         8
2         3         6         9